# Bytecode Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp
*.bak
*.swp

# Ambientes virtuais
venv/
.env/
.venv/
env/
ENV/

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Build e distribuições
*.egg-info/
dist/
build/

# PyInstaller
*.spec
